.recommended-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #000 url("../../assets/stardust.png");
  }
  
  .book {
    margin: 20px;
    text-align: center;
  }
  
  .book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  .book a {
    display: block;
    margin-top: 10px;
    color: #adadad;
    text-decoration: none;
  }


.headerSectionBookSelection{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerSectionBookSelection h3{
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    background: #000 url("../../assets/stardust.png");
}