.contact {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #000 url("../../assets/stardust.png");
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.contact a {
  color: #fff;
  transition: color 0.3s ease;
  margin: 10px;
}

.contact a:hover {
  color: #ddd;
}

.contact span {
  color: #fff;
  margin: 10px;
  margin-top: 15px;
  font-size: large;
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}