.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000 url("../../assets/stardust.png");
  position: static;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  color: #fff;
  font-size: 1.5em;
}

.icon-group {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .icon-group {
    margin-top: 20px;
  }
}
