.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  position: static;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  color: #fff;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
